{% extends "KspuLdapBundle::layout.html.twig" %}
{% block kspu_ldap_content %}
    <div class="row">
        <div class="c-title">
                <h1>АИС «Абитуриент» КГПУ</h1>
        </div>
    </div>

    <div class="row">
        <div class="c-title">
            {% if error is defined and error %}
                <div class="m-danger">
                    {{ error.message|trans }}
                </div>
            {% else %}
                <div class="m-info">
                    Введите ваше имя пользователя и пароль.
                </div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post" role="form" id="login-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    <label for="inputUsername">Имя пользователя</label>

                    <div class="username">
                        <input id="inputUsername" type="text" name="_username" value="{{ last_username }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputId">Пароль</label>

                    <div class="password">
                        <input id="inputId" type="password" name="_password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="action">
                        <button type="submit">Вход</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}